USE [master]
GO
/****** Object:  Database [KTMT]    Script Date: 5/20/2024 1:37:39 AM ******/
CREATE DATABASE [KTMT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KTMT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KTMT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KTMT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KTMT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KTMT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KTMT]
GO
/****** Object:  Table [dbo].[account_admins]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_admins](
	[ip] [varchar](255) NULL,
	[username] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_normals]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_normals](
	[rule_account] [varchar](255) NULL,
	[time_limit] [date] NULL,
	[username] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[classes]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classes](
	[clazzid] [varchar](255) NOT NULL,
	[clazz_name] [varchar](255) NULL,
	[discription] [varchar](255) NULL,
	[quantity] [int] NOT NULL,
	[id] [varchar](255) NULL,
	[majorid] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[clazzid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[course_major]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[course_major](
	[courseid] [nvarchar](10) NOT NULL,
	[majorid] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[courseid] [nvarchar](10) NOT NULL,
	[credits] [int] NULL,
	[name] [nvarchar](100) NULL,
	[type] [nvarchar](50) NULL,
	[courseafid] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[courseid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[deptid] [nvarchar](10) NOT NULL,
	[address] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[date] [date] NULL,
	[dept_name] [nvarchar](50) NULL,
	[description] [nvarchar](150) NULL,
	[deanid] [varchar](255) NULL,
 CONSTRAINT [PK__departme__BE2C1AEEFA932E6A] PRIMARY KEY CLUSTERED 
(
	[deptid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enrollment_practives]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enrollment_practives](
	[enrollmentpid] [varchar](255) NOT NULL,
	[name] [varchar](255) NULL,
	[quantity] [int] NOT NULL,
	[room] [varchar](255) NULL,
	[enrollmentid] [varchar](255) NULL,
	[id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollmentpid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enrollments]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enrollments](
	[enrollmentid] [varchar](255) NOT NULL,
	[date_apply_end] [date] NULL,
	[date_apply_start] [date] NULL,
	[date_start] [date] NULL,
	[name] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[room_name] [nvarchar](50) NOT NULL,
	[semester] [int] NOT NULL,
	[status] [varchar](255) NULL,
	[year] [int] NOT NULL,
	[courseid] [nvarchar](10) NULL,
	[scheduleid] [int] NOT NULL,
	[id] [varchar](255) NOT NULL,
 CONSTRAINT [PK__enrollme__ACFE20AEA5BE02C6] PRIMARY KEY CLUSTERED 
(
	[enrollmentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[infor_students]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[infor_students](
	[scholarship] [nvarchar](50) NOT NULL,
	[id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instructors]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instructors](
	[gradute_degree] [nvarchar](50) NULL,
	[salary] [float] NOT NULL,
	[id] [varchar](255) NOT NULL,
 CONSTRAINT [PK__instruct__3213E83F319F4C80] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[majors]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[majors](
	[majorid] [nvarchar](10) NOT NULL,
	[description] [nvarchar](150) NULL,
	[name] [nvarchar](100) NULL,
	[deptid] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[majorid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peoples]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peoples](
	[id] [varchar](255) NOT NULL,
	[age] [int] NOT NULL,
	[cccd] [varchar](255) NULL,
	[address] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [varchar](255) NULL,
	[img] [varchar](255) NULL,
	[name] [nvarchar](50) NULL,
	[nationality] [nvarchar](50) NULL,
	[sex] [bit] NOT NULL,
	[accountid] [nvarchar](20) NOT NULL,
	[majorid] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK__peoples__3213E83FCC0B9273] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[practice_scores]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[practice_scores](
	[resultid] [nvarchar](20) NOT NULL,
	[practice_score] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regular_score]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regular_score](
	[resultid] [nvarchar](20) NOT NULL,
	[regular_score] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[results]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[results](
	[resultid] [nvarchar](20) NOT NULL,
	[final_score] [float] NULL,
	[midterm_score] [float] NULL,
	[overall_score] [float] NULL,
 CONSTRAINT [PK__results__C6EBD0432D938568] PRIMARY KEY CLUSTERED 
(
	[resultid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[scheduleid] [int] IDENTITY(1,1) NOT NULL,
	[classes_end] [int] NOT NULL,
	[classes_start] [int] NOT NULL,
	[day_of_week] [varchar](255) NULL,
	[enrollmentid] [varchar](255) NULL,
	[enrollmentpid] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[scheduleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student_enrollment]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_enrollment](
	[code_practive] [varchar](255) NULL,
	[date_apply] [date] NULL,
	[note_student_enrollment] [nvarchar](50) NOT NULL,
	[payment_status] [nvarchar](20) NOT NULL,
	[process_study] [int] NOT NULL,
	[study_status] [nvarchar](20) NOT NULL,
	[enrollmentid] [varchar](255) NOT NULL,
	[studentid] [varchar](255) NOT NULL,
	[resultid] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollmentid] ASC,
	[studentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/20/2024 1:37:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[academic_year] [int] NOT NULL,
	[status] [int] NOT NULL,
	[id] [varchar](255) NOT NULL,
	[clazzid] [varchar](255) NULL,
 CONSTRAINT [PK__students__3213E83F4EFF8B19] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account_normals] ([rule_account], [time_limit], [username]) VALUES (N'GV', CAST(N'2030-12-24' AS Date), N'12345678')
INSERT [dbo].[account_normals] ([rule_account], [time_limit], [username]) VALUES (N'GV', CAST(N'2030-12-24' AS Date), N'12347895')
INSERT [dbo].[account_normals] ([rule_account], [time_limit], [username]) VALUES (N'GV', CAST(N'2030-12-24' AS Date), N'12587469')
GO
INSERT [dbo].[accounts] ([username], [password]) VALUES (N'1', N'123')
INSERT [dbo].[accounts] ([username], [password]) VALUES (N'12345678', N'123')
INSERT [dbo].[accounts] ([username], [password]) VALUES (N'12347895', N'123')
GO
INSERT [dbo].[classes] ([clazzid], [clazz_name], [discription], [quantity], [id], [majorid]) VALUES (N'1', N'DHKTPM17A', N'không', 80, N'12345678', N'KTPM')
INSERT [dbo].[classes] ([clazzid], [clazz_name], [discription], [quantity], [id], [majorid]) VALUES (N'2', N'DHKTPM17B', N'không', 80, N'12347895', N'KTPM')
GO
INSERT [dbo].[course_major] ([courseid], [majorid]) VALUES (N'C1', N'KTPM')
INSERT [dbo].[course_major] ([courseid], [majorid]) VALUES (N'C2', N'CT')
INSERT [dbo].[course_major] ([courseid], [majorid]) VALUES (N'C2', N'KTPM')
GO
INSERT [dbo].[courses] ([courseid], [credits], [name], [type], [courseafid]) VALUES (N'C1', 4, N'Kiến trúc và Thiết kế phần mềm', N'Bắt buộc', NULL)
INSERT [dbo].[courses] ([courseid], [credits], [name], [type], [courseafid]) VALUES (N'C10', 2, N'Nhập môn tin học', N'Bắt buộc', NULL)
INSERT [dbo].[courses] ([courseid], [credits], [name], [type], [courseafid]) VALUES (N'C11', 3, N'Hệ cơ sở dữ liệu', N'Bắt buộc', N'C21')
GO
INSERT [dbo].[departments] ([deptid], [address], [email], [phone], [date], [dept_name], [description], [deanid]) VALUES (N'1', N'HCM', N'fif@gmail.com', N'0914653334', CAST(N'2003-12-12' AS Date), N'Công Nghệ Thông Tin', N'không', NULL)
INSERT [dbo].[departments] ([deptid], [address], [email], [phone], [date], [dept_name], [description], [deanid]) VALUES (N'2', N'HCM', N'llct@gmail.com', N'0912345678', CAST(N'2001-12-12' AS Date), N'Lý Luận Chính Trị', N'không ', NULL)
GO
INSERT [dbo].[enrollment_practives] ([enrollmentpid], [name], [quantity], [room], [enrollmentid], [id]) VALUES (N'10011', N'Nhóm 1', 30, N'H5.1', N'1001', N'12347895')
INSERT [dbo].[enrollment_practives] ([enrollmentpid], [name], [quantity], [room], [enrollmentid], [id]) VALUES (N'10012', N'Nhóm 2', 30, N'H2.1', N'1001', N'12347895')
INSERT [dbo].[enrollment_practives] ([enrollmentpid], [name], [quantity], [room], [enrollmentid], [id]) VALUES (N'10041', N'Nhóm 1', 25, N'H5.2', N'1004', N'12347895')
GO
INSERT [dbo].[enrollments] ([enrollmentid], [date_apply_end], [date_apply_start], [date_start], [name], [quantity], [room_name], [semester], [status], [year], [courseid], [scheduleid], [id]) VALUES (N'10001', CAST(N'2024-07-13' AS Date), CAST(N'2024-05-13' AS Date), CAST(N'2024-08-15' AS Date), N'DHKTPM19G', 50, N'X10.04', 2, N'ACTIVE', 2024, N'C10', 1, N'14725898')
INSERT [dbo].[enrollments] ([enrollmentid], [date_apply_end], [date_apply_start], [date_start], [name], [quantity], [room_name], [semester], [status], [year], [courseid], [scheduleid], [id]) VALUES (N'1001', CAST(N'2024-05-19' AS Date), CAST(N'2024-05-09' AS Date), CAST(N'2024-05-26' AS Date), N'DHKTPM17A', 80, N'H8.2', 2, N'ACTIVE', 2024, N'C1', 1, N'12345678')
INSERT [dbo].[enrollments] ([enrollmentid], [date_apply_end], [date_apply_start], [date_start], [name], [quantity], [room_name], [semester], [status], [year], [courseid], [scheduleid], [id]) VALUES (N'1002', CAST(N'2024-05-19' AS Date), CAST(N'2024-05-09' AS Date), CAST(N'2024-05-26' AS Date), N'DHKTPM17B', 80, N'H8.3', 2, N'ACTIVE', 2024, N'C1', 3, N'12345678')
GO
INSERT [dbo].[infor_students] ([scholarship], [id]) VALUES (N'không', N'20013345')
INSERT [dbo].[infor_students] ([scholarship], [id]) VALUES (N'không', N'21000945')
INSERT [dbo].[infor_students] ([scholarship], [id]) VALUES (N'không', N'21001145')
GO
INSERT [dbo].[instructors] ([gradute_degree], [salary], [id]) VALUES (N'Tiến sĩ', 11000000, N'12345678')
INSERT [dbo].[instructors] ([gradute_degree], [salary], [id]) VALUES (N'Thạc sĩ', 30000000, N'12347895')
INSERT [dbo].[instructors] ([gradute_degree], [salary], [id]) VALUES (N'Thạc sĩ', 27000000, N'12587469')
GO
INSERT [dbo].[majors] ([majorid], [description], [name], [deptid]) VALUES (N'CNTT', N'không ', N'Công nghệ thông tin', N'1')
INSERT [dbo].[majors] ([majorid], [description], [name], [deptid]) VALUES (N'CT', N'không ', N'Chính trị', N'2')
INSERT [dbo].[majors] ([majorid], [description], [name], [deptid]) VALUES (N'KTPM', N'không', N'Kĩ thuật phần mềm ', N'1')
GO
INSERT [dbo].[peoples] ([id], [age], [cccd], [address], [email], [phone], [img], [name], [nationality], [sex], [accountid], [majorid]) VALUES (N'12345678', 30, N'072145698753', N'Tây Ninh', N'abc@gmail.com', N'0914787548', N'/img/avatar.jpg', N'Vũ Hoàng', N'Việt Nam', 1, N'12345678', N'KTPM')
INSERT [dbo].[peoples] ([id], [age], [cccd], [address], [email], [phone], [img], [name], [nationality], [sex], [accountid], [majorid]) VALUES (N'12347895', 30, N'072145698753', N'Tây Ninh', N'abc@gmail.com', N'0914787548', N'/img/avatar.jpg', N'Lạc Thế Thịnh', N'Việt Nam', 1, N'12347895', N'KTPM')
INSERT [dbo].[peoples] ([id], [age], [cccd], [address], [email], [phone], [img], [name], [nationality], [sex], [accountid], [majorid]) VALUES (N'12587469', 31, N'072145698753', N'Tây Ninh', N'abc@gmail.com', N'0914787548', N'/img/avatar.jpg', N'Hoàng Sơn', N'Việt Nam', 1, N'12587469', N'KTPM')
GO
INSERT [dbo].[results] ([resultid], [final_score], [midterm_score], [overall_score]) VALUES (N'1-1001', 0, 0, 0)
INSERT [dbo].[results] ([resultid], [final_score], [midterm_score], [overall_score]) VALUES (N'1-4002', 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[schedules] ON 

INSERT [dbo].[schedules] ([scheduleid], [classes_end], [classes_start], [day_of_week], [enrollmentid], [enrollmentpid]) VALUES (1, 3, 1, N'2', N'1001', NULL)
INSERT [dbo].[schedules] ([scheduleid], [classes_end], [classes_start], [day_of_week], [enrollmentid], [enrollmentpid]) VALUES (2, 3, 1, N'1', N'1002', NULL)
INSERT [dbo].[schedules] ([scheduleid], [classes_end], [classes_start], [day_of_week], [enrollmentid], [enrollmentpid]) VALUES (3, 3, 1, N'2', N'1003', NULL)
SET IDENTITY_INSERT [dbo].[schedules] OFF
GO
INSERT [dbo].[student_enrollment] ([code_practive], [date_apply], [note_student_enrollment], [payment_status], [process_study], [study_status], [enrollmentid], [studentid], [resultid]) VALUES (N'40023', CAST(N'2024-04-19' AS Date), N'khong', N'chua hoan thanh', 0, N'duoc phep thi', N'4002', N'21108651', N'1-4002')
GO
INSERT [dbo].[students] ([academic_year], [status], [id], [clazzid]) VALUES (2020, 1, N'20013345', N'1')
INSERT [dbo].[students] ([academic_year], [status], [id], [clazzid]) VALUES (2021, 1, N'21000945', N'1')
INSERT [dbo].[students] ([academic_year], [status], [id], [clazzid]) VALUES (2021, 1, N'21001145', N'1')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_3hqr0o83xm1933jx4rt931w32]    Script Date: 5/20/2024 1:37:39 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_3hqr0o83xm1933jx4rt931w32] ON [dbo].[classes]
(
	[id] ASC
)
WHERE ([id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_9djenb21jjdqqobcegwjyecu0]    Script Date: 5/20/2024 1:37:39 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_9djenb21jjdqqobcegwjyecu0] ON [dbo].[departments]
(
	[deanid] ASC
)
WHERE ([deanid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_976du5wqre0kot95s1hm2vsr1]    Script Date: 5/20/2024 1:37:39 AM ******/
ALTER TABLE [dbo].[peoples] ADD  CONSTRAINT [UK_976du5wqre0kot95s1hm2vsr1] UNIQUE NONCLUSTERED 
(
	[accountid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_kwg0d7o977hwk11jcgti43ogr]    Script Date: 5/20/2024 1:37:39 AM ******/
ALTER TABLE [dbo].[student_enrollment] ADD  CONSTRAINT [UK_kwg0d7o977hwk11jcgti43ogr] UNIQUE NONCLUSTERED 
(
	[resultid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_admins]  WITH CHECK ADD  CONSTRAINT [FKphtjsrwnfy4q1rj8ndylhn6va] FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[account_admins] CHECK CONSTRAINT [FKphtjsrwnfy4q1rj8ndylhn6va]
GO
ALTER TABLE [dbo].[account_normals]  WITH CHECK ADD  CONSTRAINT [FKig9vyibo8oidhg0802xvvstdf] FOREIGN KEY([username])
REFERENCES [dbo].[accounts] ([username])
GO
ALTER TABLE [dbo].[account_normals] CHECK CONSTRAINT [FKig9vyibo8oidhg0802xvvstdf]
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD  CONSTRAINT [FKfwudva3bmmkmr92408hcmaqkv] FOREIGN KEY([id])
REFERENCES [dbo].[instructors] ([id])
GO
ALTER TABLE [dbo].[classes] CHECK CONSTRAINT [FKfwudva3bmmkmr92408hcmaqkv]
GO
ALTER TABLE [dbo].[classes]  WITH CHECK ADD  CONSTRAINT [FKnbc6d8f52u3ns76fvspl6oe0i] FOREIGN KEY([majorid])
REFERENCES [dbo].[majors] ([majorid])
GO
ALTER TABLE [dbo].[classes] CHECK CONSTRAINT [FKnbc6d8f52u3ns76fvspl6oe0i]
GO
ALTER TABLE [dbo].[course_major]  WITH CHECK ADD  CONSTRAINT [FKkg9260ue9nptffnds0mlnumcx] FOREIGN KEY([courseid])
REFERENCES [dbo].[courses] ([courseid])
GO
ALTER TABLE [dbo].[course_major] CHECK CONSTRAINT [FKkg9260ue9nptffnds0mlnumcx]
GO
ALTER TABLE [dbo].[course_major]  WITH CHECK ADD  CONSTRAINT [FKn4ig7yqeu50l19atpnuon4b9u] FOREIGN KEY([majorid])
REFERENCES [dbo].[majors] ([majorid])
GO
ALTER TABLE [dbo].[course_major] CHECK CONSTRAINT [FKn4ig7yqeu50l19atpnuon4b9u]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK604gfuekqq4tmxkg3aqfwog1o] FOREIGN KEY([courseafid])
REFERENCES [dbo].[courses] ([courseid])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK604gfuekqq4tmxkg3aqfwog1o]
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK7314ryeerf41xfb4iqw85ojas] FOREIGN KEY([courseid])
REFERENCES [dbo].[courses] ([courseid])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK7314ryeerf41xfb4iqw85ojas]
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD  CONSTRAINT [FK3hn0dcniioalgc63o3ywco5dc] FOREIGN KEY([deanid])
REFERENCES [dbo].[instructors] ([id])
GO
ALTER TABLE [dbo].[departments] CHECK CONSTRAINT [FK3hn0dcniioalgc63o3ywco5dc]
GO
ALTER TABLE [dbo].[enrollment_practives]  WITH CHECK ADD  CONSTRAINT [FKff1mbjtqehvxvhgeau0wqpy5u] FOREIGN KEY([enrollmentid])
REFERENCES [dbo].[enrollments] ([enrollmentid])
GO
ALTER TABLE [dbo].[enrollment_practives] CHECK CONSTRAINT [FKff1mbjtqehvxvhgeau0wqpy5u]
GO
ALTER TABLE [dbo].[enrollment_practives]  WITH CHECK ADD  CONSTRAINT [FKfpw5rnu0oa8h38yul6rt51qtb] FOREIGN KEY([id])
REFERENCES [dbo].[instructors] ([id])
GO
ALTER TABLE [dbo].[enrollment_practives] CHECK CONSTRAINT [FKfpw5rnu0oa8h38yul6rt51qtb]
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD  CONSTRAINT [FKciej7drnalc3bnbpw7mw7w1og] FOREIGN KEY([courseid])
REFERENCES [dbo].[courses] ([courseid])
GO
ALTER TABLE [dbo].[enrollments] CHECK CONSTRAINT [FKciej7drnalc3bnbpw7mw7w1og]
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD  CONSTRAINT [FKq0rhspje0l6maaebmggempy1v] FOREIGN KEY([id])
REFERENCES [dbo].[instructors] ([id])
GO
ALTER TABLE [dbo].[enrollments] CHECK CONSTRAINT [FKq0rhspje0l6maaebmggempy1v]
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD  CONSTRAINT [FKsubklb5agvoxux5q4prblr0hl] FOREIGN KEY([scheduleid])
REFERENCES [dbo].[schedules] ([scheduleid])
GO
ALTER TABLE [dbo].[enrollments] CHECK CONSTRAINT [FKsubklb5agvoxux5q4prblr0hl]
GO
ALTER TABLE [dbo].[infor_students]  WITH CHECK ADD  CONSTRAINT [FKfkcbk9lyts4n5f3j0vh5pins7] FOREIGN KEY([id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[infor_students] CHECK CONSTRAINT [FKfkcbk9lyts4n5f3j0vh5pins7]
GO
ALTER TABLE [dbo].[infor_students]  WITH CHECK ADD  CONSTRAINT [FKrycyao9k3it0qaqjgwjdsryr8] FOREIGN KEY([id])
REFERENCES [dbo].[peoples] ([id])
GO
ALTER TABLE [dbo].[infor_students] CHECK CONSTRAINT [FKrycyao9k3it0qaqjgwjdsryr8]
GO
ALTER TABLE [dbo].[instructors]  WITH CHECK ADD  CONSTRAINT [FKccf7d1pjhdv7beex92hivsmf3] FOREIGN KEY([id])
REFERENCES [dbo].[peoples] ([id])
GO
ALTER TABLE [dbo].[instructors] CHECK CONSTRAINT [FKccf7d1pjhdv7beex92hivsmf3]
GO
ALTER TABLE [dbo].[majors]  WITH CHECK ADD  CONSTRAINT [FK2m705ejfj53in3o37smnaxknd] FOREIGN KEY([deptid])
REFERENCES [dbo].[departments] ([deptid])
GO
ALTER TABLE [dbo].[majors] CHECK CONSTRAINT [FK2m705ejfj53in3o37smnaxknd]
GO
ALTER TABLE [dbo].[peoples]  WITH CHECK ADD  CONSTRAINT [FK9dqmd8wpvi1uu4sdxong7lbsj] FOREIGN KEY([accountid])
REFERENCES [dbo].[account_normals] ([username])
GO
ALTER TABLE [dbo].[peoples] CHECK CONSTRAINT [FK9dqmd8wpvi1uu4sdxong7lbsj]
GO
ALTER TABLE [dbo].[peoples]  WITH CHECK ADD  CONSTRAINT [FKm3yhrg4w29t4k21x3cwoaui0b] FOREIGN KEY([majorid])
REFERENCES [dbo].[majors] ([majorid])
GO
ALTER TABLE [dbo].[peoples] CHECK CONSTRAINT [FKm3yhrg4w29t4k21x3cwoaui0b]
GO
ALTER TABLE [dbo].[practice_scores]  WITH CHECK ADD  CONSTRAINT [FKc1mcp6c5j4r72xthvud5r1iny] FOREIGN KEY([resultid])
REFERENCES [dbo].[results] ([resultid])
GO
ALTER TABLE [dbo].[practice_scores] CHECK CONSTRAINT [FKc1mcp6c5j4r72xthvud5r1iny]
GO
ALTER TABLE [dbo].[regular_score]  WITH CHECK ADD  CONSTRAINT [FK2gbi6a36hicesk8n4fux7nc06] FOREIGN KEY([resultid])
REFERENCES [dbo].[results] ([resultid])
GO
ALTER TABLE [dbo].[regular_score] CHECK CONSTRAINT [FK2gbi6a36hicesk8n4fux7nc06]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FK6lqxie5ivqyf2yh8rqq1av68c] FOREIGN KEY([enrollmentid])
REFERENCES [dbo].[enrollments] ([enrollmentid])
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FK6lqxie5ivqyf2yh8rqq1av68c]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FKs5belmggteafqrwrecurj01i] FOREIGN KEY([enrollmentpid])
REFERENCES [dbo].[enrollment_practives] ([enrollmentpid])
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FKs5belmggteafqrwrecurj01i]
GO
ALTER TABLE [dbo].[student_enrollment]  WITH CHECK ADD  CONSTRAINT [FKfw9sefguppiqrrntfcuay7fik] FOREIGN KEY([studentid])
REFERENCES [dbo].[infor_students] ([id])
GO
ALTER TABLE [dbo].[student_enrollment] CHECK CONSTRAINT [FKfw9sefguppiqrrntfcuay7fik]
GO
ALTER TABLE [dbo].[student_enrollment]  WITH CHECK ADD  CONSTRAINT [FKt9bictwisg30k0mllpoish8jg] FOREIGN KEY([resultid])
REFERENCES [dbo].[results] ([resultid])
GO
ALTER TABLE [dbo].[student_enrollment] CHECK CONSTRAINT [FKt9bictwisg30k0mllpoish8jg]
GO
ALTER TABLE [dbo].[student_enrollment]  WITH CHECK ADD  CONSTRAINT [FKtn3ogj6h266nmgcvmwdee7k3d] FOREIGN KEY([enrollmentid])
REFERENCES [dbo].[enrollments] ([enrollmentid])
GO
ALTER TABLE [dbo].[student_enrollment] CHECK CONSTRAINT [FKtn3ogj6h266nmgcvmwdee7k3d]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD  CONSTRAINT [FKhrbikbwv4idtgobr8f6vjj97d] FOREIGN KEY([id])
REFERENCES [dbo].[peoples] ([id])
GO
ALTER TABLE [dbo].[students] CHECK CONSTRAINT [FKhrbikbwv4idtgobr8f6vjj97d]
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD  CONSTRAINT [FKjr7e11whw9ol74nucoeqmp2ur] FOREIGN KEY([clazzid])
REFERENCES [dbo].[classes] ([clazzid])
GO
ALTER TABLE [dbo].[students] CHECK CONSTRAINT [FKjr7e11whw9ol74nucoeqmp2ur]
GO
ALTER TABLE [dbo].[enrollments]  WITH CHECK ADD  CONSTRAINT [CK__enrollmen__statu__45F365D3] CHECK  (([status]='FINISHED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[enrollments] CHECK CONSTRAINT [CK__enrollmen__statu__45F365D3]
GO
USE [master]
GO
